.portada{
  position: relative;
  text-align: center;
  color: Black;
  font-size: 50px;

}

.cportada{
  width: 1400px;

}
.cmarca{
  border-style: solid;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}
